body {
    margin: 0;
}

#header p {
    font-size: 50px;
    font-family: 'Satisfy', cursive;
    text-align: center;
    display: block;
    height: 50px;
    margin-top: 0;
    vertical-align: center;

}

#header a {
    text-decoration: none;
    color: black;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: lightpink;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}

ul li {
    display: inline-block;
    margin: 5px;
}

ul li a {
    text-decoration: none;
    padding: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 25px;
    color: grey;
}

ul li a:hover {
    color: white;
}

ul li a:active {
    color: white;
    background-color: grey;
}

.dropdown {
    display: none;
    position: absolute;
    background-color: lightpink;
    width: inherit;
}

.dropdown a {
    text-decoration: none;
    display: block;
    font-family: 'Indie Flower', cursive;
    font-size: 20px;
}

.dropbtn:hover .dropdown {
    display: block;
}